h6 {
  margin-block-end: 0;
  margin-block-start: 0;  
  color: aquamarine !important;
}

p, label {
  font-style: italic;
}

label {
  color: blueviolet;
}

.concept {
  color: blueviolet;
  font-style: normal;
  font-weight: bold;
}

.component {
  border: 1px solid white;
  padding: 1rem;
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.brief {
  font-size: small;
}
